{%- set pkg = config.package %}

{%- if engines|length %}
{%- for file in engines %}
<script src="{{content_url('')}}{{file}}"></script>
{%- endfor %}
{%- endif %}

{%- set deps = dependencies %}

<script>
  (function() {

  var query = location.search.substring(1).split('&');
  var coverage;

  if (contain(query, 'cov')) {
    coverage = true;
  }

  seajs.config({
    base: "{{content_url('')}}",
    alias: {
      "$": 'jquery/jquery/1.7.2/jquery',
      "$-debug": 'jquery/jquery/1.7.2/jquery-debug',
      "jquery": 'jquery/jquery/1.7.2/jquery',
      "jquery-debug": 'jquery/jquery/1.7.2/jquery-debug',
      "handlebars": "gallery/handlebars/1.0.2/handlebars"
    }
  });

  seajs.config({
    alias: {{deps|clean_alias|json_encode}},
    map: [function(uri) {
      if (!coverage) {
        return uri;
      } else {
        return uri.replace(/\.js$/, '-cov.js');
      }
    }]
  });

  function contain(arr, value) {
    for (var i in arr) {
      if (arr[i] === value) {
        return true;
      }
    }
    return false;
  }

})();
</script>
